<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.fetch('title', "Sitepress") %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <header>
      <a href="/" style="display: flex;flex-flow: column;align-items: center;">
      <%= image_tag "bunny.jpg", class: "logo logo-light" %>
      <%= image_tag "bunny.jpg", class: "logo logo-dark" %>
      
      <h1 id="title"><%= current_page.data.fetch('title', 'Sitepress') %></h1></a>
    </header>
    <main>
      <h3 style="text-align:center;margin:0">
        <b>Street Address:</b>
        <a href="<%= geo_to_open_maps(current_page.data.fetch('geo')) %>">
          <%= current_page.data.fetch('address') %>
        </a>
      </h3>
      <iframe 
        width="800" height="400" 
        src="<%= current_page.data.fetch('embed') %>" 
        style="border: 1px solid black"
      ></iframe>
    
      <%= image_tag "parks/#{current_page.request_path.split('/').last}-#{current_page.data.fetch('image', 1)}.jpg",onerror:"this.style.display='none'" %>

      <%= yield %>
    </main>
    <footer>    
      <% 
        removal_text = ""
        waste = weight_matching(park_id:current_page.data.fetch('id'), round:1)
        if waste > 0
          removal_text = "
            Lops of Help has removed #{waste} pounds of trash from #{current_page.data.fetch('title')}.
            That trash weighs the same as #{weight_the_same_string park_id:current_page.data.fetch('id')}.
          "
        end
        visit_text = ""
        visit_date = last_visit(current_page.data.fetch('id'))
        visit_text = "Last visited on #{visit_date.strftime '%B %-d'}." unless visit_date.nil?
      %>
      <p><%= removal_text %><%= visit_text %>
      <br/><a href="/parks">Find more trails!</a>
    </footer>
  </body>
</html>
