<h3 style="text-align:center;margin:0">Cleaning public greenspaces South of ATL, and beyond! </h3>
<% 
  grams = Hike.all.sum(:waste)
  waste = Greenspace.convert_weight(grams).round(1)
  distance = Greenspace.distance_formula(Hike.all.sum(:distance))
  animals = Animal.weighing(grams)
%>
<p>
    As of <%= Hike.last.date.strftime "%B %-d" %>, we've hiked more than <strong><%= distance.round(1) %> miles</strong>
    and removed more than <strong><%= waste %> pounds</strong> of garbage from the community.
    That trash weighs the same as <%= animals.map{ |k,a| "#{a[:count]} #{k}" }.join(", ") %></p>
<% if false %>
<div class="container flex-column"> 
  <ul class="row ">

    <% park_pages.each do |child| 
      name = cities[child.data.fetch('id',nil)]
    %>
      <li class="col-6"><strong><%= link_to_page child %></strong> located in <%= raw(city_link pre_script:'', name: ,post_script:'') %></li>
    <% end %>
  </ul>
</div>
<% end %>